<div id="to-do-box" class="to-do-box">
  <h2 id="to-do-title">Study</h2>
  <div class="to-do-list">
    <div id="todo-0" class="to-do-item">
      <input id="check-0" type="checkbox" />
      <label id="todo-label" for="check-0">할 일</label>
      <div class="item-tool-box">
        <img
          class="icon-button edit"
          src="../assets/edit-2-line-pen-svgrepo-com.svg"
        />
        <img
          class="icon-button delete"
          src="../assets/close-line-svgrepo-com.svg"
        />
      </div>
    </div>
  </div>

  <button>
    추가
    <img class="icon add" src="../assets/line-plus-svgrepo-com.svg" />
  </button>
</div>
