* > {
  all: unset;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px dotted red;
}

.current-time {
  display: flex;
  justify-content: center;
  font-size: 88px;
  font-weight: 700;
  border: 1px dotted blue;
}

.to-do-list-container {
  display: flex;
  border: 1px solid blue;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  background-color: lightblue;
  border-radius: 20px;
}

.to-do-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.to-do-item > input {
  border: unset;
  width: 20px;
  height: 20px;
}

.to-do-item > label {
  cursor: pointer;
}
